.typeWritingClass{
    border:5px solid rgb(221, 16, 16);
    border-radius: 40px;
    font-size: 55px;
    padding: 20px;
    color:#ffffff;
    font-weight: bold;
  }
  .homeHeading2{
    margin-top: 70px;
  }
  .homeArrow{
      font-size: 60px; color: #ffffff;
  }
 
  .faqQuestionsStyle{
    text-decoration: none !important;
    font-size: 1.3rem;
  }
  .faqQuestionsStyle:hover{
    font-size: 1.45rem; 
  }
  @media (max-width: 755px) {

    .typeWritingClass{
        font-size: 2.5rem;
        padding: 15px;
    }
    .homeHeading2{
        margin-top: 20%;
    }
    .homeArrow{
        font-size: 50px;
    }
  }