.typeWritingClass{
    border:5px solid rgb(221, 16, 16);
    border-radius: 40px;
    font-size: 55px;
    padding: 20px;
    color:#ffffff;
    font-weight: bold;
  }
  .homeHeading2{
    margin-top: 70px;
  }
  .homeArrow{
      font-size: 60px; color: #ffffff;
  }
 
  .faqQuestionsStyle{
    text-decoration: none !important;
    font-size: 1.3rem;
  }
  .faqQuestionsStyle:hover{
    font-size: 1.45rem; 
  }
  /* this changes my form margin layout */
  .minimalisticForm{
    margin-top: 10%;
    margin-left: 5%;
  }
  .LinkedinStyle{
    background-color: #fefefe;
    
  }
  .responsiveCard{
    height:175px;
  }
  .InputTextFormSize{
    font-size: 35px;
  }
 /* this changes my bootstrap form focus styling !!! */
  .form-control:focus {
    border-color: #6265e4 !important;
    box-shadow: none!important;
    outline: 0 none;
  }
  @media (max-width: 755px) {
    .InputTextFormSize{
      font-size: 20px;
      border:2px solid black;
    }
    .responsiveCard{
      height:auto;
    }

    .typeWritingClass{
        font-size: 2.5rem;
        padding: 15px;
    }
    .homeHeading2{
        margin-top: 20%;
    }
    .homeArrow{
        font-size: 50px;
    }
  }